body {
  min-height: 100vh;
  background: linear-gradient(235deg, rgb(255, 255, 255) 30%, rgb(255, 255, 220) 90%);
}
main {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

@keyframes spin3D {
  from {
    transform: rotate3d(.5,.5,.5, 360deg);
  }
  to{
    transform: rotate3d(0deg);
  }
}
